{% extends 'base.html.twig' %}

{% block title %}
	Presentation

{% endblock %}
{# {% block stylesheets %}{% endblock %} #}

{% block body %}


	<h1 class="jauneC kage">- Presentation</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error possimus provident quidem dolore illo quasi assumenda optio officia. Odio deleniti voluptates non porro illo accusamus labore eaque vel quo repudiandae!</p>


{% endblock %}
