{% extends 'base.html.twig' %}

{% block title %}
	Presentation

{% endblock %}
{# {% block stylesheets %}{% endblock %} #}

{% block body %}


	<h1 class="jauneC kage">- Presentation</h1>
	<p>Bonjour et bienvenue sur la page Luidjy's Coiffure.<br>

		La coiffure est une passion, faire de votre instant coiffure un moment de détente pour vous, une véritable pause,<br>
		afin de vous rendre unique.
																																		
																																			j'attache le plus grand soin à la qualité de mes services, je prendrais le temps de vous écouter
		<br>
		afin de vous proposer ce qu’il vous conviendra le mieux en respectant votre personnalité.<br>

		Faites moi confiance pour révéler la beauté de vos cheveux et mettre en valeur votre capital séduction.
	</p>
	<div>
		<img src="{{asset('asset/image/luidjy.jpg')}}" alt="image de Luidjy en train de couper des cheveux" width="auto" height="300">
	</div>


{% endblock %}
