{% extends 'base.html.twig' %}

{% block title %}
	Calendrier

{% endblock %}

{% block body %}


	<h1>Calendrier</h1>

	<div>
		<img src="{{asset('asset/image/LogoProjetG.svg')}}" width="160" height="160" alt="">
	</div>
	<div>
		<iframe width="225" height="400" src="https://www.youtube.com/embed/6a7wrig_GN0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="225" height="400" src="https://www.youtube.com/embed/mq1JiboBri4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="225" height="400" src="https://www.youtube.com/embed/PxWpRbO56ck" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<iframe width="225" height="400" src="https://www.youtube.com/embed/Qv4n1C3VZyM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	{# {% include '../Calendar/calendar.html.twig' %} #}

	<div>au dessus
	</div>
	<div id="calendar-holder"></div>
	<div>en desous</div>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">
	{% endblock %}
	{% block javascripts %}
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
		<script type="text/javascript">
			document.addEventListener('DOMContentLoaded', () => {
var calendarEl = document.getElementById('calendar-holder');
var calendar = new FullCalendar.Calendar(calendarEl, {
defaultView: 'dayGridMonth',
editable: true,
eventSources: [
{
url: "{{ path('fc_load_events') }}",
method: "POST",
extraParams: {
filters: JSON.stringify({})
},
failure: () => { // alert("There was an error while fetching FullCalendar!");
}
},
],
header: {
left: 'prev,next today',
center: 'title',
right: 'dayGridMonth,timeGridWeek,timeGridDay'
},
plugins: [
'interaction', 'dayGrid', 'timeGrid'
], // https://fullcalendar.io/docs/plugin-index
timeZone: 'UTC'
});
calendar.render();
});
		</script>
	{% endblock %}
	<h2><br><br><br><br><br></h2>
{% endblock %}
