{% extends 'base.html.twig' %}

{% block title %}
	Tarifs coiffure!
{% endblock %}

{% block body %}
	<h1 class="kage jauneC">- Coiffure</h1>

	<div>
		<li>
			<a href="{{path('coupeHomme')}}">HOMME</a>
		</li>
		<li>
			<a href="{{path('coupeFemme')}}">FEMME</a>
		</li>
		<li>
			<a href="{{path('coupeEnfant')}}">ENFANT</a>
		</li>
	</div>
{% endblock %}
