/* COUPE ENFANT */
.coupe{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.coupeDNP {
    /* border: solid 1px rgb(241, 241, 241); */
    /* padding: 0 20px; */
    width: 400px;
}
.coupeDNP img{
    width: 100%;
}
.coupeNP {
    display: flex;
    justify-content: space-between;
    /* font-size: 40px; */
    position: relative;
}
h3 {
    display: block;
    /* font-size: 1.17em; */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: bold;
    margin: 0;
}
.prix {
    background-color: rgb(205, 185, 105);
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    color: rgb(255, 255, 255);
    font-weight: 500;
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    right: 0.2rem;
    top : -4rem;
}
.description {
    color: grey;
    /* font-size: 40px; */
    font-weight: 500;
}