
@font-face {
    font-family: OldBlack;
    src: url(../fonts/OldSansBlack.ttf);
}
@font-face {
    font-family: KAGE;
    src: url(../fonts/KAGE-Freebies-Black.otf);
}
/* General */
h1,h2,h3{
    letter-spacing: 0.1rem;
}
h1{
    color: rgb(205, 185, 105);
    font-family: KAGE;
    font-size: 2.5em;
    vertical-align: baseline;
}
h2{
    margin: 0;
}
body{
    width: 100%;

    margin: 0;
    padding: 0;
    letter-spacing: 0.1rem;
    font-family: OldBlack, fantasy, Courier, monospace  ;  
    color: white;
    background-color: black;
    background-image: url("../image/fond.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    padding: 3rem;
    width: 80vw;
    display: flex;
    justify-content: space-between;
}
li{
    display: inline;
    padding: 0px 15px;
}
a:-webkit-any-link{
    font-family: OldBlack, Courier,  fantasy, monospace  ;  
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.jauneC{
    color: rgb(205, 185, 105);

}
.kage{
    font-family: KAGE;
    font-size: 2.5em;
}
.old{
    font-family: OldBlack, fantasy, Courier, monospace ;
}
.corps{
    margin: auto;
    width: 80%;
}
.champ{
    background-color: rgba(0, 0, 0, 0.5) ;
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    color: white;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: rgb(205, 185, 105);
    margin: 10px 0 10px 0;
}
.shop{
  text-align: center;
}
#about{
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.bouton{
    background-color:   rgba(0, 0, 0, 0);
    border: 3px solid rgb(205, 185, 105);
    color: rgb(205, 185, 105);
    font-size: 1.5rem;

}
.boutonreserver{
    background-color:   rgba(0, 0, 0, 0);
    border: 3px solid red;
    color: red;
    font-size: 1.5rem;

}
.rdv{
    background-color:   rgba(0, 0, 0, 0);
    border: 2px solid rgb(205, 185, 105);
    color: rgb(205, 185, 105);
    font-size: 1rem;
    padding: 0.5rem;

}
.service{
    background-color:   rgb(29, 28, 28);
    border: none;
    font-size: 2rem;
    font-family: OldBlack, fantasy, Courier, monospace ;
    color: rgb(205, 185, 105) ;
    width: 150px;
    height: 300px;

}
.centre{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blocService{
    display: flex;
    flex: 1;
    justify-content: center;
}
.titreCoiffure{
    margin-left: 200px;
}

.scale-with-grid-d{
    display: flex;
    width: 500px;
    height: 200%;
    
}
.scale-with-grid-e{
    display: flex;
    width: 500px;
    height: 200%;
    
}
.scale-with-grid-f{
    display: flex;
    width: 500px;
    height: 200%;
    
}
.align{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text{
    text-align: center;
}

/* BOOK */
.book{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book2{
    width: 225px;
}

.conditionsG{
    letter-spacing: 0.1rem;
    display: inline;
}
.form-check, #user_form_agreeTerms, .form-check-label, .form-group:last-of-type{
    display: inline;
}


/* Footer */
.footerCenter{
    display: inline-block;
    vertical-align: top;
	text-align: center;
}

 /*.logoFooter{
    display: inline-block;
    vertical-align: top; */
    /* width: 40%; 
}*/

footer{
    /* width: 80vw; */
    
    width: 100%;
    color:  #ffffff;
    background-color:  rgba(0, 0, 0, 0.5);
} 
.fondFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.blocFooter{
    text-align: center;
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    /* flex-direction: row; */
}
.presentation {
    display: flex;
    flex-direction: column;
}
.presentationT{
    display: block;
    min-width: 300px;
    box-sizing: border-box;
    padding: 1rem;
    border: red 1px solid; 
}
.presentationT p{
    width: 100%;
}
@media screen and (min-width:974px){
    .presentation {
        flex-direction: row;
    }
}
.company{
    background-color: black
}
