
@font-face {
    font-family: OldBlack;
    src: url(../fonts/OldSansBlack.ttf);
}
@font-face {
    font-family: KAGE;
    src: url(../fonts/KAGE-Freebies-Black.otf);
}
/* General */
.imgluidjy{
    width: 350px;
}
h1,h2,h3{
    letter-spacing: 0.1rem;
}
h1{
    color: rgb(205, 185, 105);
    font-family: KAGE;
    font-size: 2.5em;
    vertical-align: baseline;
}
h2{
    margin: 0;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;  
    color: white;
    background-color: black;
    background-image: url("../image/fond.jpg");
     background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    position: relative;
}
.logo{
    width: 150px;

}
nav{
    padding: 3rem;
    /* width: 80vw; */
    display: flex;
    justify-content: space-between;
}
li{
    display: inline;
    padding: 0px 15px;
}
a:-webkit-any-link{
    font-family: Arial, Helvetica, sans-serif, Courier,  fantasy, monospace  ;  
    font-size: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.jauneC{
    color: rgb(205, 185, 105);

}
.kage{
    font-family: KAGE;
    font-size: 2.5em;
}
.old{
    font-family: OldBlack, fantasy, Courier, monospace ;
}

.champ{
    background-color: rgba(0, 0, 0, 0.5) ;
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    color: white;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-color: rgb(205, 185, 105);
    margin: 10px 0 10px 0;
}
.shop{
  text-align: center;
}
#about{
    margin: 0 auto 50px auto;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.bouton{
    background-color:   rgba(0, 0, 0, 0);
    border: 3px solid rgb(205, 185, 105);
    color: rgb(205, 185, 105);
    font-size: 1.5rem;

}

.boutonreserver{
    background-color:   rgba(0, 0, 0, 0);
    border: 3px solid red;
    color: red;
    font-size: 1.5rem;

}
.rdv{
    background-color:   rgba(0, 0, 0, 0);
    border: 3px solid rgb(205, 185, 105);
    color: rgb(205, 185, 105);
    font-size: 1rem;
    padding: 0.5rem;

}
button:hover{
    text-decoration: none;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    
}

.blocService li{
    width:100%;
    margin-top: 1rem;
}

.service{
    background-color:   rgb(29, 28, 28);
    border: none;
    font-size: 2rem;
    font-family: OldBlack, fantasy, Courier, monospace ;
    color: rgb(205, 185, 105) ;
    width:100%;
    height: 300px;

}
.centre{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blocService{
    display: flex;
    flex: 1;
    justify-content: center;
}
.titreCoiffure{
    margin-left: 200px;
}

.scale-with-grid-d{
    display: flex;
    width: 500px;
    height: 200%;
    
}
.scale-with-grid-e{
    display: flex;
    width: 500px;
    height: 200%;
    
}
.scale-with-grid-f{
    display: flex;
    width: 500px;
    height: 200%;
    
}
.align{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text{
    text-align: center;
}

/* BOOK */
.book{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book2{
    width: 225px;
}

.conditionsG{
    letter-spacing: 0.1rem;
    display: inline;
}
.form-check, #user_form_agreeTerms, .form-check-label, .form-group:last-of-type{
    display: inline;
}


/* Footer */
.reseau {
  cursor: pointer;  
    
}
.reseau:hover #facebookCercle{
    
    stroke: #ffffff;
}    
.reseau:hover #facebookIcon{
    
    fill: #ffffff;
}
.reseau:hover #instaCercle{
    
    stroke: #ffffff;
}
.reseau:hover #instaIcon1{
    
    fill: #ffffff;
}
.reseau:hover #instaIcon2{
    
    fill: #ffffff;
}
.reseau:hover #instaIcon3{
    
    fill: #ffffff;
}
.reseau:hover #youtubeCercle{
    
    stroke: #ffffff;
}
.reseau:hover #youtubeIcon{
    
    fill: #ffffff;
}

.footerCenter{
    
    display: inline-block;
    vertical-align: top;
	text-align: center;
}

/* .logofooter{
    
} */
.iconfooter{
    width: 30px;
}

footer{
    /* width: 80vw; */
    padding: 0;

    width: 100%;
    color:  #ffffff;
    background-color:  rgba(0, 0, 0, 0.5);
    position: relative;
    bottom: 0px;
} 
.fondFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.blocFooter{
    text-align: center;
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    /* flex-direction: row; */
}
.presentation {
    display: flex;
    flex-direction: column;
}
.presentationT{
    display: block;
    min-width: 300px;
    box-sizing: border-box;
    padding: 1rem;
}
.presentationT p{
    width: 100%;
}
@media screen and (min-width:974px){
    .presentation {
        flex-direction: row;
    }

}
.company{
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
}

/* Menu */


.menu{
    /* max-height: 0; */
    list-style:none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menuActive{
    /* color: rgb(205, 185, 105); */
    font-weight: 700;
}
.menu li{
    position: relative;
    margin: 0;
    /* border-top:1px solid rgb(205, 185, 105); */
    
}
.menu a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .7rem;
    /* color: rgb(205, 185, 105); */
    font-weight: 500;
    text-decoration: none;
}
.menu a:hover{
    text-decoration: none;
    color: rgb(205, 185, 105);
    
}
.menu li:first-child{
    border-right:0;
}
.menuTitle{
 position: absolute;
right: 0;
    height:40px;
    width: 40px;
}
.menuTitle:hover{
    cursor: pointer;
}

.dispNone{
    margin: 0;
    padding: 0;
    display:none;
}
/* Si la checkbox vaut checked=true */
input[name="panel"]:checked ~ .menu{
    max-height:800px;
    transition:2s;
}
/* Si la checkbox vaut checked=false */
input[name="panel"]:not(:checked) ~ .menu{
    max-height:0;
    transition:.5s;
}


@media screen and (min-width:992px){
    /* En format lg l'icone menu burger est display none */
    .logo{
        width: 200px;

    
    }
    .imgluidjy{
        width: auto;
    }
    label.menuTitle{
        display:none;
    }
    .menu{
        min-height: 3rem;
        flex-direction: row;
    }
    .menu li, .menu a{
        border:none;
    }
    .menu li{
        display: flex;
        height: 3rem;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
}