.inline{
    display: inline;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.horizontal{
    display: flex;
    flex-direction: row;
}
.heurea{
    width: 3rem;
    display: flex;
    align-items: center;
}
.textcenter{
    text-align: center;
}

