{% extends 'base.html.twig' %}

{% block title %}
	Shop coiffure!
{% endblock %}

{% block body %}


	<h1 class="kage jauneC">- Book</h1>
	<div class="book container-fluid">
		<div class="row">
			<div class= "col-12 col-md-6 col-lg-3" >
				<div class="zoomInRight">
					<iframe width="200" height="400" src="https://www.youtube.com/embed/6a7wrig_GN0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				</div>
				<div class="book2">
					<h2>Luidjy's Barber
					</h2>
					<p>Client numero 1
						<br>
						Type :
						<br>crepus
						<br>
						Genre : homme</p>
					<p>Description :<br>coupe de cheveux  Buzz cut + Dégradé à blanc moyen</p>
				</div>
			</div>
			<div class= "col-12 col-md-6 col-lg-3">
				<iframe class="zoomInRight" width="200" height="400" src="https://www.youtube.com/embed/mq1JiboBri4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<div class="book2">
					<h2>Luidjy's Barber
					</h2>
					<p>Client numero 2
						<br>
						Type :
						<br>semi-crepus et semi-bouclé
						<br>
						Genre : femme</p>
					<p>Description :<br>
						coupe de cheveux courte en dégrader léger</p>
				</div>
			</div>
			<div class= "col-12 col-md-6 col-lg-3">
				<iframe class="zoomInRight" width="200" height="400" src="https://www.youtube.com/embed/PxWpRbO56ck" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<div class="book2">
					<h2>Luidjy's Barber
					</h2>
					<p>Client numero 3
						<br>
						Type :
						<br>semi-crepus et semi-bouclé
						<br>
						Genre : homme</p>
					<p>Description :
						<br>coupe de cheveux Quiff hérissé + Raie + Dégradé à blanc haut</p>
				</div>
			</div>
			<div class= "col-12 col-md-6 col-lg-3">
				<iframe class="zoomInRight" width="200" height="400" src="https://www.youtube.com/embed/Qv4n1C3VZyM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<div class="book2">
					<h2>Luidjy's Barber
					</h2>
					<p>Client numero 4
						<br>
						Type :
						<br>semi-crepus et semi-bouclé
						<br>
						Genre : homme</p>
					<p>Description :
						<br>coupe de cheveux Petit Afro + Dégradé Burst</p>
				</div>
			</div>
		</div>
	</div>
<br>
<br>
<br>

<div class="cover">
  <div class="book">
  <label for="page-1"  class="book__page book__page--1">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/193203/1111.jpg" alt="">
  </label>
  
  <label for="page-2" class="book__page book__page--4">
    <div class="page__content">
      <h1 class="page__content-title">I</h1>
      <div class="page__content-blockquote">
        <p class="page__content-blockquote-text">HARI SELDON — . . . born in the 11,988th year of the Galactic Era; died 12,069. The dates are more commonly given in terms of the current Foundational Era as -79 to the year 1 F.E. Born to middle-class parents on Helicon, Arcturus sector (where his father, in a legend of doubtful authenticity, was a tobacco grower in the hydroponic plants of the planet), he early showed amazing ability in mathematics. Anecdotes concerning his ability are innumerable, and some are contradictory. At the age of two, he is said to have. . . </p>
        <p class="page__content-blockquote-text">. . . Undoubtedly his greatest contributions were in the field of psychohistory. Seldon found the field little more than a set of vague axioms; he left it a profound statistical science. . . . </p>
        <p class="page__content-blockquote-text">. . . The best existing authority we have for the details of his life is the biography written by Gaal Dornick who, as a young man, met Seldon two years before the great mathematician's death. The story of the meeting . . .</p>
        <span class="page__content-blockquote-reference">Encyclopedia Galactica*</span>
      </div>
      <div class="page__content-text">
        </div>
      <div class="page__number">3</div>
    </div>
  </label>
    
  <!-- Resets the page -->
  <input type="radio" name="page" id="page-1"/>
    
  <!-- Goes to the second page -->
  <input type="radio" name="page" id="page-2"/>
  <label class="book__page book__page--2">
    <div class="book__page-front">
      <div class="page__content">
        <h1 class="page__content-book-title">Foundation</h1>
        <h2 class="page__content-author">Isaac Asimov</h2>
        
        <p class="page__content-credits">
          Introduction by 
          <span>Paul Krugman</span>
        </p>
        
        <p class="page__content-credits">
          Illustrations by 
          <span>Alex Wells</span>
        </p>
        
        <div class="page__content-copyright">
          <p>The Folio Society</p>
          <p>London - MMXII</p>
        </div>
      </div>
    </div>
    <div class="book__page-back">
      <div class="page__content">
        <h1 class="page__content-title">Contents</h1>
        <table class="page__content-table">
          <tr>
            <td align="left">Part I</td><td align="left">The Psycohistorians</td><td align="right">3</td>
          </tr>
          <tr>
            <td align="left">Part II</td><td align="left">The Encyclopedists</td><td align="right">43</td>
          </tr>
          <tr>
            <td align="left">Part III</td><td align="left">The Mayors</td><td align="right">87</td>
          </tr>
          <tr>
            <td align="left">Part IV</td><td align="left">The Traders</td><td align="right">147</td>
          </tr>
          <tr>
            <td align="left">Part V</td><td align="left">The Merchant Princes</td><td align="right">173</td>
          </tr>
        </table>
        
        <div class="page__number">2</div>
      </div>
    </div>
  </label>
</div>
</div>

{% endblock %}
