{% extends 'base.html.twig' %}

{% block title %}
	femme coiffure!
{% endblock %}

{% block body %}
	<h1>coupe Femme</h1>
	<br>
	<h2>coupe classique (cheveux courts)</h2>
	<br>


	<h2>style: Buzz cut</h2>
	<div class="coupe">
		<div class="coupeDNP">
			<img alt="" width="450" height="450" class="hCL kVc L4E MIw" importance="auto" loading="auto" src="https://i.pinimg.com/564x/16/df/1c/16df1cc473253f4b94d9a3089eb12bca.jpg">
			<div class="coupeNP">
				<h3>1. Women Buzz cut rasé + Contours</h3>
			</div>
			<p>Couple classique en Buzz cut</p>
		</div>

		<div class="coupeDNP">
			<img src="https://i.pinimg.com/originals/65/cd/c8/65cdc866d779ec2bd63373cf7ebd470c.jpg" alt="Crew cut + Contours - Coiffures femme Noir" width="450" height="450">
			<div class=>
				<h3>2. Women Buzz cut + Contours + Dégradé + raie</h3>
			</div>
			<p>buzz cut parfaitement réalisé avec un degradé leger et une raie afin de relever la nuance de la coupe.</p>
		</div>


		<div class="coupeDNP">
			<img alt="450" height="450" class="hCL kVc L4E MIw" importance="auto" loading="auto" src="https://i.pinimg.com/564x/0c/f0/22/0cf0226d2aaa5f95259cabc6fbc607c3.jpg">
			<div "coupeNP">
				<h3>3. Women Buzz cut + Contours + Dégradé + raie n#2</h3>
			</div>
			<p>buzz cut + une raie coupe classique mais très apprecié par les femmes ayant des cheveux courts.</p>
		</div>
	</div>
	<br>

	<h2>style: Waves</h2>
	<div class="coupe">
		<div class="coupeDNP">
			<img alt="" width="450" height="450" class="hCL kVc L4E MIw" importance="auto" loading="auto" src="https://i.pinimg.com/564x/56/95/60/5695608c0ab7710d10a5081d8ba9e66f.jpg">
			<div "coupeNP">
				<h3>4. wave + raie designe sans Contours</h3>
			</div>
			<p>wave afin de plaquer les cheveux et un degradé plongeant ne nécessitant pas de contours.</p>
		</div>

		<div class="coupeDNP">
			<img alt="Coiffure Cheveux Court Afro Colorful Black – Spécialiste De La Beauté Noire  Et Métissée – Jnowakstrategy.com" class="n3VNCb" src="https://www.jnowakstrategy.com/wp-content/uploads/2020/05/coiffure-cheveux-court-afro-purple-waves-poppin-via-d2themasterbarber-of-coiffure-cheveux-court-afro.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 450; height: 450">
			<div "coupeNP">
				<h3>4. wave + raie designe sans Contours</h3>
			</div>
			<p>wave afin de plaquer les cheveux et un degradé plongeant ne nécessitant pas de contours.</p>
		</div>
		
		<div class="coupeDNP">
		<img alt="10 idées coiffures sur cheveux naturels pour une rentrée en beauté – Le  Club des Cotonettes" class="n3VNCb" src="https://lecludescotonettes-dd40.kxcdn.com/wp-content/uploads/2018/08/finger-waves-club-cotonettes.jpg" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 450; height: 450">
			<div "coupeNP">
				<h3>4. finger wave </h3>
			</div>
			<p>cette coiffure est réalisé à l'aide d'un wave et les contrastes ainsi que la forme sont réalisés avec un peigne minutieusement.</p>
		</div>
	</div>


	<h2>style: Afro et cheveux mi-long ou long</h2>
	<br>

	<div class="coupe">
		<div class="coupeDNP">
			<img data-count="58/137" data-image_id="378759" class="lazy  aligncenter wp-image-378759 size-full" title="coupe-de-cheveux-afro-coupe-courte-crop-coloration-cuivre-coiffure-femme-africaine-boucles-d-oreilles-pendantes" data-original="https://archzine.fr/wp-content/uploads/2018/03/coupe-de-cheveux-afro-coupe-courte-crop-coloration-cuivre-coiffure-femme-africaine-boucles-d-oreilles-pendantes.jpg" src="https://archzine.fr/wp-content/uploads/2018/03/coupe-de-cheveux-afro-coupe-courte-crop-coloration-cuivre-coiffure-femme-africaine-boucles-d-oreilles-pendantes.jpg" alt="coupe courte dégradée femme avec coloration tie and dye couleur caramel, coupe courte cheveux crépus" width="450" height="450">
			<div "coupeNP">
				<h3>5. Afro courte avec tie</h3>
			</div>
			<p>coupe style afro semi-hawks avec un contour leger</p>
		</div>
	</div>

{% endblock %}
