{% extends 'base.html.twig' %}

{% block title %} femme coiffure!
{% endblock %}

{% block body %}
	<h1> coupe Femme</h1>
	<br>
	<h2>coupe classique (cheveux courts)</h2>
	<br>
	<h3>style: Buzz cut</h3>


<br><br>
<h2>1. Women Buzz cut rasé + Contours </h2>
<img alt=width="450" height="450" class="hCL kVc L4E MIw" importance="auto" loading="auto" src="https://i.pinimg.com/564x/16/df/1c/16df1cc473253f4b94d9a3089eb12bca.jpg">
<p>Couple classique en Buzz cut</p>


<br><br>
<h2>2. Women Buzz cut + Contours + Dégradé + raie</h2>
<img src="https://i.pinimg.com/originals/65/cd/c8/65cdc866d779ec2bd63373cf7ebd470c.jpg" alt="Crew cut + Contours - Coiffures femme Noir" width="450" height="450">
<p> buzz cut parfaitement réalisé avec un degradé leger et une raie afin de relever la nuance de la coupe.</p>	


<br><br>
<h2>3. Women Buzz cut + Contours + Dégradé + raie n#2</h2>
<img alt="450" height="450" class="hCL kVc L4E MIw" importance="auto" loading="auto" src="https://i.pinimg.com/564x/0c/f0/22/0cf0226d2aaa5f95259cabc6fbc607c3.jpg">
<p>buzz cut + une raie coupe classique mais très apprecié par les femmes ayant des cheveux courts.</p>



<br>
<br>
<br>
<h3>style: Waves</h3>

<br><br>
<h2>4. wave + raie designe sans Contours</h2>
<img alt= width="450" height="450" class="hCL kVc L4E MIw" importance="auto" loading="auto" src="https://i.pinimg.com/564x/56/95/60/5695608c0ab7710d10a5081d8ba9e66f.jpg">
<p>wave afin de plaquer les cheveux et un degradé plongeant ne nécessitant pas de contours.</p>

<br>
<br>
<br>
<h3>style: Afro et cheveux mi-long ou long</h3>

<br><br>
<h2>5. Afro courte avec tie</h2>
<img data-count="58/137" data-image_id="378759" class="lazy  aligncenter wp-image-378759 size-full" title="coupe-de-cheveux-afro-coupe-courte-crop-coloration-cuivre-coiffure-femme-africaine-boucles-d-oreilles-pendantes" data-original="https://archzine.fr/wp-content/uploads/2018/03/coupe-de-cheveux-afro-coupe-courte-crop-coloration-cuivre-coiffure-femme-africaine-boucles-d-oreilles-pendantes.jpg" src="https://archzine.fr/wp-content/uploads/2018/03/coupe-de-cheveux-afro-coupe-courte-crop-coloration-cuivre-coiffure-femme-africaine-boucles-d-oreilles-pendantes.jpg" alt="coupe courte dégradée femme avec coloration tie and dye couleur caramel, coupe courte cheveux crépus" width="450" height="450">
<p>coupe style afro semi-hawks avec un contour leger </p>





{% endblock %}